.pencildivexp {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.pencildivexp:hover {
    background-color: #ebebeb;
}
