.prova {
    border: solid 1px rgba(0, 0, 0, 0.137);
    border-radius: 10px;
}
.font-size-small{
    font-size: 0.8em;
}
.box-gray:hover{
    background-color: lightgray;
    transition: 0.5s;
    cursor: pointer !important;
}
.box-blue:hover{
    background-color: rgba(173, 216, 230, 0.26);
    border: solid 2px #0a66c2 !important;
    cursor: pointer !important;
}

.pencil-hover{
    height: 30px;
    width: 30px;
}
.pencil-hover:hover{
    background-color: lightgray;
    cursor: pointer !important;
}
.follower{
    color: #0a66c2;
    font-size: 0.9em
}
.text-underline:hover{
    text-decoration: underline !important;
    cursor: pointer;
}
.lh{
    line-height: 15px;
}