#logo:hover {
    fill: currentColor
}

ul .nav {
    flex-wrap: nowrap;
}

.nav a {
    text-decoration: none;
    color: gray;
}

.nav a:hover {
    color: black
}


/* #kitten {
    width: 35px;
} */

.nav li {
    font-size: small;
    width: 115px;
}

#aziende {
    width: 10em;
}

#lastLi {
    text-decoration: underline;
    color: #965c06;
}

#lastLi:hover {
    color: #5a3804;
}

#navUl {
    flex-wrap: nowrap;
    width: 100vw;
}
#dropdown-basic {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    color: grey;
    font-size: 13px;
  }
@media only screen and (min-width: 768px) {
    #navUl {
        width: 60vw;
    }
}

@media only screen and (max-width: 767px) {
    .nav li {
        width: 60px;
    }
}


@media only screen and (max-width: 375px) {
    ul li svg {
        width: 15;
        height: 15;
    }

    .nav li {
        width: 50px;
    }
}