#logo:hover {
    fill: currentColor;
}

.prova {
    position: relative;
}
.search-container {
  position: relative;
  display: inline-block;
}
.search {
    background-color: #edf3f8;
    border: 1px rgba(216, 216, 216, 0.055) solid !important;
    height: 34px !important;
    width: 270px !important;
    font-size: 0.9em;
    border-radius: 5px;
    padding-left: 40px;
}
.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: black;
    font-size: 0.8em;
}
ul .nav {
    flex-wrap: nowrap;
}

.nav a {
    text-decoration: none;
    color: gray;
}

.nav a:hover {
    color: black;
}

.nav li {
    font-size: small;
    width: 115px;
}

#aziende {
    width: 10em;
}

#lastLi {
    text-decoration: underline;
    color: #965c06;
}

#lastLi:hover {
    color: #5a3804;
}

#navUl {
    flex-wrap: nowrap;
    width: 100vw;
}
.tu {
    margin-top: -5px !important;
}
.striscia {
    width: 1px;
    background-color: #cccccc75;
    height: 100%;
}
#dropdown-basic {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    color: grey;
    font-size: 13px;
}
.dropbutton {
    background: transparent;
    border: 1px solid #0a66c2a8 !important;
    width: 100%;
    color: #0a66c2;
    font-weight: bold !important;
    font-size: 0.9em !important;
    cursor: "pointer";
    transition: "background-color 0.3s, color 0.3s, border-color 0.3s";
}
@media only screen and (min-width: 768px) {
    #navUl {
        width: 60vw;
    }
}

@media only screen and (max-width: 767px) {
    .nav li {
        width: 60px;
    }
}

@media only screen and (max-width: 950px) {
    ul li svg {
        width: 15px;
        height: 15px;
    }

    .nav li {
        width: 50px;
    }
    .search {
        display: none !important;
    }
}

.btn-blu{
    margin-left: 20px!important;
    height: 28px!important ;
    min-width: 120px;
}



.custom-dropdown .btn-primary {
    background-color: #0a66c2; 
    border-color: #0a66c2; 
}

.custom-dropdown .btn-primary:hover,
.custom-dropdown .btn-primary:focus {
    background-color: #004080; 
    border-color: #004080;
}




