.pageContainer {
    padding-top: 4.8em;
}
.profileBigCardCoverContainer {
    min-height: 201px;
    max-height: 201px;
    position: relative;
    border-radius: 50px !important;
}

.profileBigCardCoverContainer img {
    width: 100%;
    height: 220px !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profilepicContainer {
    width: 160px;
    height: 160px;
    box-sizing: border-box;
    border-radius: 49.9%;
    border: 4px solid white;
    position: absolute;
    margin-top: 50px !important;
    left: 3%;
}
.aggiungifoto {
    margin-left: 10px !important;
    font-size: 1.2em;
}
.profileBigCardTextContainer {
    line-height: 1.1em;
}
.bigcardname {
    margin-top: 25px !important;
}
.ProfileBigCardContainer {
    border-radius: 0.375rem;
    border: 1px solid rgba(163, 163, 163, 0.526);
    position: relative;
    background-color: white;
    margin-bottom: 7px;
    padding-bottom: 7px;
}
.worklocation {
    margin-top: 120px;
    color: #535353;
    text-decoration: none !important;
}
.worklocation:hover {
    margin-top: 120px;
    color: #0a66c2;
    text-decoration: underline !important;
}
.profilepic {
    border-radius: 50%;
    width: 152px;
    height: 152px;
}
.edit-text {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
    font-size: 14px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
    border-radius: 50px;
}

.profilepicContainer:hover .edit-text {
    visibility: visible;
    opacity: 1;
}
.ProfilePicButtons {
    display: none;
}
.photodiv {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #ffffff;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.photoicon {
    fill: #0a66c2;
    margin-right: 2px;
    margin-bottom: 1px;
}
.photoicon:hover {
    fill: #004182;
}
.pencildiv {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #ffffff;
    right: 20px;
    top: 230px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.pencildiv:hover {
    background-color: #ebebeb;
}
.pencilicon{
    fill:none !important;
    font-size: 1.5em;
}

.disponibile {
    background-color: #0a66c2;
}
.disponibile:hover {
    background-color: #004182;
}
.sezioneprof {
    color: #0a66c2;
    border-color: #0a66c2;
}
.sezioneprof:hover {
    background-color: #e2f0fe;
    color: #0a66c2;
    box-shadow: inset 0 0 0 1px #0a66c2;
}
.usafotocamera {
    color: #0a66c2;
    border-color: #0a66c2;
    background-color: #ffffff!important;
}
.usafotocamera:hover {
    background-color: #e2f0fe !important;
    color: #0a66c2;
    box-shadow: inset 0 0 0 1px #0a66c2;
}
.fotogrammi {
    color: #0a66c2;
    border: none;
    background-color: #ffffff!important;
}
.fotogrammi:hover {
    background-color: #e2f0fe !important;
    color: #0a66c2;

}
.edificio {
    width: 50px;
    height: 50px;
}
.altro {
    color: #3c3c3c;
}
.altro:hover {
    background-color: #ebebeb;
    color: #3c3c3c;
    box-shadow: inset 0 0 0 1px #3c3c3c;
}
@media screen and (min-width: 400px) {
    .profileBigCardCoverContainer img {
        height: 170px;
    }

    .profilepicContainer {
        top: 10%;
    }

    .pencil-right {
        top: 183px;
    }

    .profileBigCardTextContainer {
        margin-top: 1.8em;
    }
}

@media screen and (min-width: 767px) {
    .profileBigCardCoverContainer img {
        height: 130px;
    }

    .profilepicContainer {
        top: 7%;
    }

    .pencil-right {
        top: 145px;
    }

    .profileBigCardTextContainer {
        margin-top: 0.8em;
    }
}
@media screen and (min-width: 800px) {
    .ProfilePicButtons {
        display: flex;
    }
}

@media screen and (min-width: 993px) {
    .profileBigCardCoverContainer img {
        height: 170px;
    }

    .profilepicContainer {
        top: 13%;
    }

    .pencil-right {
        top: 183px;
    }

    .profileBigCardTextContainer {
        margin-top: 3em;
        padding: 0 1.4em;
    }
}

@media screen and(min-width:1199px) {
    .profileBigCardCoverContainer img {
        height: 200px;
    }

    .profilepicContainer {
        top: 20%;
    }

    .pencil-right {
        top: 212px;
    }

    .profileBigCardTextContainer {
        margin-top: 6.5em;
    }
}
