body {
  background-color: #f4f2ee !important;
}
.card-body {
  padding: 2rem 1.5rem !important;
}
img,
svg,
i {
  cursor: pointer;
}
.card-title {
  margin-bottom: 1rem !important;
  font-size: 1.5rem !important;
  font-weight: bold !important;
}
.pageContainer {
  padding-top: 7rem;
}
#scopriSticky {
  position: sticky;
  top: 5em;
}
/* colonna destra */

@media screen and (min-width: 1384px) {
  #messaggistica {
      display: flex;
  }
}

#showMore {
  background-color: transparent;
  font-weight: 500;
  border-radius: 5px;
}
#notizie {
  color: #676767;
}
#bulletPoint {
  background-color: #676767;
  border-radius: 50%;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0px 0.6rem 5px 10px;
}
#dataNotizie {
  margin-left: 1.8em;
}
.listaNotizie h6,
.listaNotizie p {
  font-size: 0.9em;
}
.listaNotizie {
  text-decoration: none;
  color: #676767;
}
.listaNotizie:hover {
  color: #676767;
  background-color: salmon;
  cursor: pointer;
}
#showMore:hover {
  background-color: #ebebeb;
  cursor: pointer;
}

.btn-profile:hover {
  background-color: #ebebeb;
  border: 2px solid grey;
  color: grey;
}

.insideCards {
  border: none !important;
}

.cursor {
  cursor: pointer;
}

.dotsDivAbsolute {
  position: absolute;
  top: -4px;
  right: 20px;
}

.card-footer {
  text-align: center;
}

.card-body {
  padding: 2rem 1.5rem !important;
}

.card-title {
  margin-bottom: 1rem !important;
  font-size: 1.5rem !important;
  font-weight: bold !important;
}

/* sidebar homepage */

.sidebarStats {
  color: grey;
  font-size: 12px;
  font-weight: 500;
}

.sidebarText {
  color: grey;
  font-size: 12px;
  font-weight: 400;
}
.sidebarTextPremium {
  color: black;
  text-decoration: underline;
  font-size: 12px;
  font-weight: 500;
}

.sidebarProfileName {
  color: black;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.sidebarProfileRole {
  color: grey;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}

.sidebarCover {
  position: relative;
  overflow: hidden;
}

.sidebarCover img {
  width: 100%;
  height: 5em;
  display: block;
  object-fit: cover;
}

.sidebarAvatar {
  position: absolute;
  top: 50%;
  left: 50%;
}
.linkHome {
  font-size: 12px;
  font-weight: 600;
}

.linkHome:hover {
  text-decoration: underline;
}

.linkHome {
  font-size: 12px;
  font-weight: 600;
}

.linkHome:hover {
  text-decoration: underline;
}

/* POST */

.postUserName {
  text-decoration: none;
  color: black;
}

.dropdownEdit {
  position: absolute !important;
  top: 21px;
  right: 25px;
}
.Modifica {
  font-size: 1rem;
  color: black;
}
.drop::after {
  display: none !important;
}

/* FINE POST */

/* INIZIO CREAZIONE POST COLONNA CENTRALE HOME PAGE */
.picAndButtonContainer {
  margin: 0.8rem 1.6rem 0;
}


.buttonContainer {
  flex-grow: 2;
  height: 50px;
}
#iconaFoto:hover {
  fill: #378fe9;
}
svg:hover {
  fill: currentColor;
}


.annuncio {
width: 100%;
border-radius: 5px;
border: 1px solid lightgray;
}
/* FINE CREAZIONE POST COLONNA CENTRALE HOME PAGE */

/*icone colonna sx*/

.text-home-col{
  font-size: 0.9em;
} 

.icons-home-s{
  font-size: 25px;
}

.bookmark-home-s{
  font-size: 20px;
}

.circlelist-home-s{
  font-size: 25px;
  margin-right: 50px;
}

.text-col-icons{
  padding: 20px 20px !important;
}

.color-text{
  color: #5e5e5e;
}



